a.badge.badge-danger {
    color: #ffffff;
    width: 60%;
    background-color: #dc3545a6;
    text-align: left;
    height: 7%;
    border-radius: 13px;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}