<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/admin/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4d66efb478.js"></script>

    <title>MangaLife</title>
</head>

<body>

    <head>
           
           
        <nav class="navbar navbar-light  " style="background-color: #2c3e50;">
            <a class="navbar-brand text-white" href="#">
                <img src="/admin/img/Logo.png" width="60" height="50" class="d-inline-block align-top img-responsive " alt="">
                Bootstrap
              </a>           
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">
         
                   
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/page">Listes Mangas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/page">Connexion</a>
                    </li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
             
                </ul>
            </div>
        
        
        
        
        </nav>
    </head>


    <div class="blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9 blog-left">
                    <h1>Mise à jour des Manga les plus vue</h1>
                    <hr>
               
                    <div class="col-md-4">
                        <div class="card bg-dark text-white">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81NicsORW+L.jpg"
                            class="card-img img-responsive " alt="...">                            
                            <div class="card-img-overlay d-flex flex-column">
                                <a href="#" class="badge badge-danger">Danger</a>
                                <div class="mt-auto">
                                    <p> Text I want at bottom</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-md-3 sidebar">

                    <div class="widget widget-categories">
                        <div class="widget-title">
                            <h3>Categories</h3>
                        </div>
                        <hr>
                        <ul class="cat-list">
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Accessories<span>(03)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Cameras<span>(19)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Computers<span>(56)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Laptops<span>(03)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Networking<span>(03)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Old Products<span>(89)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Smartphones<span>(90)</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-chevron-right"></i> Software<span>(23)</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>