<form action="/mangas/pages/create" method="POST" enctype="multipart/form-data">



    <h1><%= chapter.title %></h1>
    
    <label for="scan">Select files:</label>
    <input type="file" id="scan" name="scan" multiple>

    <input type="text" class="form-control" name="chapter_id" id="chapter_id" value="<%= chapter.chapter_id %>" style="display: none;">


    <input type="submit" value="Valider">


</form>