<form action="/mangas/create" method="POST" enctype="multipart/form-data">



    <input type="file" class="form-control" name="cover" id="cover" value="">

    <input type="submit" value="Valider">


</form>