<a href="/list/favoris">Ma liste</a>
<a href="/mangas">Liste des mangas</a>


<h1>Liste des favoris</h1>
<hr>



<% for (var i = 0; i < list_favorie.length; i++) { %>



<p>Id:<%= list_favorie[i].manga.manga_id %></p>
<p>Nom du mangas:<%= list_favorie[i].manga.title %></p>

<a href="/mangas/fiche/<%= list_favorie[i].manga.manga_id %>"><img src="<%= list_favorie[i].manga.cover %>" width="20%" alt=""></a>


<% } %>