<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link href="/admin/css/style.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/4d66efb478.js"></script>

	<title>Inscription</title>
</head>

<body>



	<div class="container">
		<div class="row centered-form">
			<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
				<div class="panel panel-default">
					<% if (message) { %>

					<div class="alert alert-<%=message.type%>  text-dark" role="alert">
						<%=message.intro%>:<%=message.message%>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<% } %>
					<div class="panel-heading">
						<h3 class="panel-title">Créer votre compte<small>(gratuit)</small></h3>
					</div>
					<div class="panel-body">
						<form action="/signup/add" method="POST" enctype="multipart/form-data"> 
							<div class="form-group">
								<label for="username"><i class="far fa-user"></i> Nom d'utilisateur*</label>
								<input type="text" class="form-control" name="username" id="username"
									placeholder="Saisissez votre nom d'utilisateur" required> </div>

							<div class="form-group">
								<label for="email"><i class="fas fa-at" id="icon"></i> Email*</label>
								<input type="email" class="form-control" name="email" id="email" value=""
									placeholder="Saisissez votre adresse mail" required> </div>

							<div class="form-group">
								<label for="password"><i class="fas fa-key" id="icon"></i> Mot de passe* </label>


								<input type="password" class="form-control" name="password" id="password" value=""
									placeholder="8 caratères max/ 1 chiffre/ 1 caratère spécial" required> </div>

							<div class="form-group">
								<label for="image">Image de profil </label>


								<input type="file" class="form-control" name="image" id="image" value=""> </div>

							<input type="submit" value="Valider" class="btn btn-info btn-block">

							<div class="col text-center">
								<small><a class=" text-white" href="/login">Connexion</a></small>

							</div>
						</form>

					  
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>